.newGroupButton {
  display: flex;
  justify-content: center;
  margin-top: 2vh;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 3rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
