.icon1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.icon2 {
  position: absolute;
  left: 0;
  top: 0;
}

.icon3 {
  position: absolute;
  right: 0;
  top: 30%;
}

.icon4 {
  position: absolute;
  right: 0;
  top: 0;
}

.icon5 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.icon6 {
  position: absolute;
  left: 0;
  top: 60%;
}
