.loginPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .title {
    font-size: 48px;
    margin-top: 10vh;
  }

  .subTitle {
    margin-top: 3vh;
    font-size: 24px;
  }

  .form {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div {
      display: flex;
      flex-direction: column;

      label {
        font-size: 13px;
      }

      input {
        font-size: 1rem;
        margin-top: 0.3rem;
        padding: 0 0.5rem;
        width: 15rem;
        height: 2rem;
        outline: none;
        border-radius: 5px;
      }
    }

    button {
      display: block;
      margin: 0 auto;
      width: 5rem;
      height: 2.5rem;
      border: none;
      border-radius: 5px;
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }

  .prompt {
    margin-top: 0.6rem;
    font-size: 13px;

    .link {
      display: inline;
      font-size: inherit;
      border: none;
      background-color: white;
      text-decoration: underline;
      text-underline-offset: 2px;
      cursor: pointer;
    }
  }
}
