.member {
  flex-basis: calc(25% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  .imageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    .image {
      object-fit: cover;
    }
  }

  .name {
    font-size: 0.75rem;
    text-align: center;
  }
}
