.imageWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 15px;
  top: 15px;
  z-index: 999;
  cursor: pointer;

  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  .profileIcon {
    background-color: black;
    border-radius: 50%;
  }
}

.blank {
  position: absolute;
  top: 30px;
  right: 15px;
  width: 30px;
  height: 30px;
  z-index: 999;
}

.dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 15px;
  top: 50px;
  z-index: 999;
  width: 8rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  box-shadow: 0 5px 10px 0px #b0b0b0;

  .link {
    padding: 1rem 0 1rem 1rem;
  }

  :first-child {
    border-bottom: 1px solid #d0d0d0;
  }
}

.hidden {
  display: none;
}
