.groupToCenter {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    .newGroupTime {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 86vw;
        height: 8.5vh; //99.3 px
        .timeTitle {
            margin-top: 1%;
            margin-left: 1%;
            color: #000;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .timeSelector {
            display: flex;
            margin-left: 9%;
            width: 45%;
            height: 55%;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            .hourSelect {
                text-align: center;
                width: 52px;
                height: 35px;
                border-radius: 5px;
                border: 1px solid #E0E0E0;
                background: #FFF;
                cursor: pointer;
            }
            .minuteSelect {
                text-align: center;
                width: 52px;
                height: 35px;
                border-radius: 5px;
                border: 1px solid #E0E0E0;
                background: #FFF;
                cursor: pointer;
            }
        }
    }
     .selector {
            display: flex;
            margin-left: 9%;
            width: 45%;
            height: auto;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            // .hourSelect {
            //     text-align: center;
            //     width: 52px;
            //     height: 35px;
            //     border-radius: 5px;
            //     border: 1px solid #E0E0E0;
            //     background: #FFF;
            //     cursor: pointer;
            // }
            // .minuteSelect {
            //     text-align: center;
            //     width: 52px;
            //     height: 35px;
            //     border-radius: 5px;
            //     border: 1px solid #E0E0E0;
            //     background: #FFF;
            //     cursor: pointer;
            // }
        }  
}