.groupToCenter {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    .newGroupTime {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 86vw;
        height: 3.5vh; //99.3 px
        .timeTitle {
            display: flex;
            align-items: center;
            margin-top: 1%;
            margin-left: 1%;
            color: #000;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            .checkbox {
                margin-left: 1%;
            }
        }
    }
}