.searchBar {
    z-index: 999;
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
    .searchBarUNExtend {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        min-width: 30px;
        height: 30px;
        border: 1px solid #E0E0E0;
        border-radius: 100px;
        .searchIcon {
            width: 15px;
            height: 15px;
        }
    }
    .searchBarExtend {
        display: flex;
        position: relative;
        align-items: center;
        background-color: white;
        width: 67vw;
        height: 30px;
        border: 1px solid #E0E0E0;
        border-radius: 100px;
        .searchIconStartPoint {
            display: flex;
            align-items: center;
            width: 90%;
            height: 100%;
            position: absolute;
            left: 3.3%;
            .searchIcon {
            width: 15px;
            height: 15px;
        }
            .input {
                width: 100%;
                margin-left: 3.5%;
                border: none;
            }
        }
    }
}