.extend {
  width: 80%;
}

.searchBar {
  z-index: 999;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: white;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 2px black;

  .searchIcon {
    margin: 7.5px;
  }

  .input {
    width: 80%;
    border: none;
    outline: none;
  }
}
