.searchBar {
  z-index: 999;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: white;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #d0d0d0;

  .searchIcon {
    margin: 7.5px;
  }

  .input {
    width: 85%;
    border: none;
    outline: none;
  }
}

.extendVert {
  width: 80%;
}
